@import '../../styles/mixins';

.main-container {

  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  background-color: rgb(208, 225, 250);
  border-radius: 10px;
  min-width: 30%;
  min-height: 200px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }


  label {
    font-style: italic;
  }


}


input {
  max-width: 200px;

  border: 1px solid lightgrey;
  border-radius: 20px;
  outline: none;
  text-align: center;
  height: 30px;

  &:hover {

    box-shadow: 0px 2px 6px lightgray;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    @include btn-theme;
    margin-top: 20px;
  }
}

.error-container {

  small {
    color: red;
  }
}


@media screen and (max-width:600px) {

  .form-container {
    min-width: 300px;
  }

}
