<div
  class="cash-edit-form-container bg-light border border-secondary container"
>
  <form #f="ngForm" (ngSubmit)="saveCash(f)" class="row">
    <mat-form-field appearance="fill">
      <mat-label class="text-dark">Choose a date</mat-label>
      <input
        matInput
        name="date"
        [matDatepicker]="picker"
        [(ngModel)]="currentCash.date"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="amount-container mb-4">
      <label for="amount">Amount</label>
      <input
        name="amount"
        type="number"
        placeholder="amount"
        [(ngModel)]="currentCash.amount"
        min="1"
        required
        #amount="ngModel"
      />
      <small
        *ngIf="amount.invalid && (amount.touched || amount.dirty)"
        class="text-danger"
      >
        Invalid amount</small
      >
    </div>
    <div class="remark-container mb-3">
      <label for="remark">Remark</label>
      <input
        type="text"
        placeholder="remark"
        name="remark"
        [(ngModel)]="currentCash.remark"
        required
        #remark="ngModel"
      />
      <small
        *ngIf="(remark.invalid || remark.value?.length > 20) && remark.dirty"
        class="text-danger"
      >
        Remark is required and less than 20 characters
      </small>
    </div>
    <div class="cash-in-out-container">
      <div class="d-flex">
        <input
          type="radio"
          name="in"
          [value]="1"
          [(ngModel)]="currentCash.in"
        />
        <div for="chash-in" class="mx-1 d-flex align-items-center">In</div>
      </div>
      <div class="d-flex">
        <input
          type="radio"
          name="in"
          [value]="-1"
          [(ngModel)]="currentCash.in"
        />
        <div for="cash-out" class="mx-1 d-flex align-items-center">Out</div>
      </div>
    </div>
    <div class="btn-group">
      <button
        [disabled]="f.invalid"
        type="submit"
        class="btn btn-outline-primary mx-1 px-0 py-0 rounded"
      >
        Save
      </button>
      <button
        type="button"
        (click)="resetCash()"
        class="btn btn-outline-secondary px-0 py-0 rounded"
      >
        Reset
      </button>
    </div>
  </form>
</div>
