@import '../../styles/mixins';

.cash-edit-form-container {
  @include theme(radial-gradient(circle farthest-corner at 1.3% 2.8%, rgb(207, 214, 214) 0%, rgba(182, 199, 226, 1) 100.2%));
  max-width: 500px;
  height: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    input[type=text],
    input[type=number] {
      height: 30px;
      width: 150px;
      border: 1px solid lightgrey;
      border-radius: 30px;
      margin-top: 8px;
      padding: 5px 22px;
      font-size: 17px;
      outline: none;
    }

    button {
      @include btn-theme;
      height: 20px;
      width: 100px;
    }



    .btn-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      width: 220px;
    }

    .amount-container {
      display: flex;
      flex-direction: column;
    }

    .remark-container {
      display: flex;
      flex-direction: column;
    }

    .cash-in-out-container {
      display: flex;
    }

    .date-container {
      display: flex;
      flex-direction: column;
    }
  }
}
