.success {
  border-bottom: green 3px solid;

}

.error {
  border-bottom: red 3px solid;
}

.btn:disabled {
  color: gray;
}

.emailForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

input {
  border-radius: 10px;
  height: 20px;
  outline: none;
  padding-left: 10px;
  margin-right: 5px;
}

button {
  border-radius: 10px;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #ebbb68 100%);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  height: 20px;
}

button:hover {
  box-shadow: 2px 1px;
  cursor: pointer;
}


.codeForm {
  display: flex;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;

    .btn-group {
      display: flex;
      justify-content: space-between;
      width: 180px;
      align-items: center;
    }
  }


}

.passwordForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

  form {
    display: flex;

    .btn-group {
      width: 210px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
