<ng-container
  [ngTemplateOutlet]="
    inEmailForm ? emailForm : inCodeForm ? codeForm : passwordForm
  "
>
</ng-container>

<ng-template #emailForm>
  <form [formGroup]="emailFormGroup" (ngSubmit)="onSumbitEmailForm()">
    <input
      formControlName="email"
      type="text"
      placeholder="email"
      [ngClass]="emailFormGroup.get('email').errors ? 'error' : 'success'"
    />
    <button type="submit">check email</button>
  </form>
</ng-template>

<ng-template #codeForm>
  <form [formGroup]="codeFormGroup" (ngSubmit)="onSubmitCodeForm()">
    <input
      formControlName="code"
      type="text"
      placeholder="code"
      [ngClass]="codeFormGroup.get('code').errors ? 'error' : 'success'"
    />
    <button type="submit">confirm code</button>
    <button (click)="backToEmailForm()">Back</button>
  </form>
</ng-template>
<ng-template #passwordForm>
  <form [formGroup]="passwordFormGroup" (ngSubmit)="onSubmitPasswordForm()">
    <input
      formControlName="newPassword"
      type="password"
      placeholder="password"
      [ngClass]="
        passwordFormGroup.get('newPassword').errors ? 'error' : 'success'
      "
    />
    <input
      formControlName="retypeNewPassword"
      type="password"
      placeholder="retype password"
      [ngClass]="
        passwordFormGroup.get('retypeNewPassword').errors ? 'error' : 'success'
      "
    />
    <button type="submit">save new password</button>
    <button (click)="backToCodeForm()">Back</button>
  </form>
</ng-template>
