<ng-container
  [ngTemplateOutlet]="
    inEmailForm ? emailForm : inCodeForm ? codeForm : passwordForm
  "
>
</ng-container>

<ng-template #emailForm>
  <div class="emailForm">
    <form [formGroup]="emailFormGroup" (ngSubmit)="onSumbitEmailForm()">
      <input
        (focus)="onInputFocus()"
        [disabled]="submit"
        formControlName="email"
        type="text"
        placeholder="email"
        [ngClass]="emailFormGroup.get('email').errors ? 'error' : 'success'"
      />
      <button
        class="btn"
        [disabled]="submit || emailFormGroup.invalid"
        type="submit"
      >
        check email
      </button>
      <div *ngIf="errorMsg.length">{{ errorMsg }}</div>
    </form>
  </div>
</ng-template>

<ng-template #codeForm>
  <div class="codeFormContainer">
    <div class="codeForm">
      <form [formGroup]="codeFormGroup" (ngSubmit)="onSubmitCodeForm()">
        <input
          [disabled]="submit"
          formControlName="code"
          type="number"
          placeholder="code"
          (focus)="onInputFocus()"
          [ngClass]="codeFormGroup.get('code').errors ? 'error' : 'success'"
        />
        <div class="btn-group">
          <button [disabled]="submit || codeFormGroup.invalid" type="submit">
            confirm code
          </button>
          <button (click)="backToEmailForm()">Back</button>
        </div>
      </form>
    </div>
    <div *ngIf="errorMsg.length">{{ errorMsg }}</div>
  </div>
</ng-template>
<ng-template #passwordForm>
  <div class="passwordForm">
    <form [formGroup]="passwordFormGroup" (ngSubmit)="onSubmitPasswordForm()">
      <input
        [disabled]="submit"
        formControlName="newPassword"
        type="password"
        placeholder="password"
        [ngClass]="
          passwordFormGroup.get('newPassword').errors ? 'error' : 'success'
        "
      />
      <input
        [disabled]="submit"
        formControlName="retypeNewPassword"
        type="password"
        placeholder="retype password"
        [ngClass]="
          passwordFormGroup.get('retypeNewPassword').errors ||
          passwordFormGroup.invalid
            ? 'error'
            : 'success'
        "
      />
      <div class="btn-group">
        <button [disabled]="submit || passwordFormGroup.invalid" type="submit">
          save new password
        </button>
        <button (click)="backToCodeForm()">Back</button>
        <div *ngIf="errorMsg.length">{{ errorMsg }}</div>
      </div>
    </form>
  </div>
</ng-template>
