.success {
  border-bottom: green 3px solid;

}

.error {
  border-bottom: red 3px solid;
}

input {
  height: 35px;
  outline: none;
}

button {
  height: 35px;

  &:disabled {
    color: gray;
  }
}
