<ng-container
  [ngTemplateOutlet]="
    inEmailForm ? emailForm : inCodeForm ? codeForm : passwordForm
  "
>
</ng-container>

<ng-template #emailForm>
  <div
    class="w-100 h-100 d-flex justify-content-center align-items-center flex-column"
  >
    <form
      [formGroup]="emailFormGroup"
      (ngSubmit)="onSumbitEmailForm()"
      class="p-1"
    >
      <input
        (focus)="onInputFocus()"
        [disabled]="submit"
        formControlName="email"
        type="text"
        placeholder="email"
        [ngClass]="emailFormGroup.get('email').errors ? 'error' : 'success'"
        class="col-12 col-sm-auto rounded"
      />
      <button
        class="btn btn-light mt-2 mt-sm-0 ml-0 ml-sm-2"
        [disabled]="submit || emailFormGroup.invalid"
        type="submit"
      >
        Send
      </button>
      <div *ngIf="errorMsg.length">{{ errorMsg }}</div>
    </form>
  </div>
</ng-template>

<ng-template #codeForm>
  <div
    class="codeFormContainer w-100 h-100 d-flex justify-content-center align-items-center flex-column"
  >
    <div class="codeForm container">
      <form
        [formGroup]="codeFormGroup"
        (ngSubmit)="onSubmitCodeForm()"
        class="row justify-content-center"
      >
        <input
          [disabled]="submit"
          formControlName="code"
          type="number"
          placeholder="code"
          (focus)="onInputFocus()"
          [ngClass]="codeFormGroup.get('code').errors ? 'error' : 'success'"
          class="col-9 col-sm-auto rounded"
        />
        <div class="btn-group mt-2 mt-sm-0 ml-sm-2">
          <button
            [disabled]="submit || codeFormGroup.invalid"
            type="submit"
            class="btn btn-light mr-2"
          >
            Confirm
          </button>
          <button (click)="backToEmailForm()" class="btn btn-info">Back</button>
        </div>
      </form>
    </div>
    <div *ngIf="errorMsg.length" class="text-danger">
      {{ errorMsg }}
    </div>
  </div>
</ng-template>
<ng-template #passwordForm>
  <div
    class="passwordForm w-50 h-100 container d-flex justify-content-center align-items-center flex-column"
  >
    <form
      [formGroup]="passwordFormGroup"
      (ngSubmit)="onSubmitPasswordForm()"
      class="row justify-content-center"
    >
      <input
        [disabled]="submit"
        formControlName="newPassword"
        type="password"
        placeholder="password"
        [ngClass]="
          passwordFormGroup.get('newPassword').errors ? 'error' : 'success'
        "
        class="col-lg-4 col-sm-12 mb-2 rounded"
      />
      <input
        [disabled]="submit"
        formControlName="retypeNewPassword"
        type="password"
        placeholder="retype password"
        [ngClass]="
          passwordFormGroup.get('retypeNewPassword').errors ||
          passwordFormGroup.invalid
            ? 'error'
            : 'success'
        "
        class="col-lg-4 col-sm-12 ml-lg-2 ml-0 rounded"
      />
      <div class="btn-group mt-2 mt-lg-0">
        <button
          class="btn btn-light ml-2"
          [disabled]="submit || passwordFormGroup.invalid"
          type="submit"
        >
          Save
        </button>
        <button (click)="backToCodeForm()" class="btn btn-info ml-2">
          Back
        </button>
        <div *ngIf="errorMsg.length">{{ errorMsg }}</div>
      </div>
    </form>
  </div>
</ng-template>
