@import '../../styles//mixins';

.success {
  border-bottom: green 3px solid;

}

.error {
  border-bottom: red 3px solid;
}

.form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.emailForm {
  @extend .form-flex;
  width: 100%;
  height: 100%;
}

input {
  border-radius: 7px;
  height: 35px;
  outline: none;
  padding-left: 10px;
}

button {
  height: 35px;

  &:disabled {
    color: gray;
  }
}

.codeFormContainer {
  @extend .form-flex;
  width: 100%;
  height: 100%;



  form {
    display: flex;

    .btn-group {
      display: flex;
      width: auto;
      justify-content: center;
      align-items: center;
    }
  }


}

.passwordForm {
  @extend .form-flex;
  width: 50%;
  height: 100%;

}
