@import '../../styles/mixins';

.cash-container {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 2px;

}

.cash-in {
  color: green;
}

.cash-out {
  color: red;
}

.remark,
.date,
.currency,
.balance {
  flex-basis: 20%;
}

.delete {
  flex-basis: 5%;
}
