<div
  *ngIf="search.trim().length == 0 || cash.remark.includes(search)"
  class="cash-container bg-light"
  (click)="selectCash($event)"
>
  <p
    class="currency"
    [ngClass]="cash.in == 1 ? 'cash-in' : 'cash-out'"
    style="text-align: center"
  >
    {{ cash.amount | currency : "TND" }}
  </p>
  <p class="remark" style="text-align: center">
    {{ cash.remark }}
  </p>
  <p class="date" style="text-align: center">
    {{ cash.date | date }}
  </p>

  <p class="balance" style="text-align: center">
    {{ cash.balance | currency : "TND" }}
  </p>
  <p
    class="delete"
    (click)="deleteCash($event)"
    style="color: red; text-align: center"
  >
    X
  </p>
</div>

<div id="modal" #modal></div>
