.cash-container {

  display: flex;
  justify-content: space-between;
  width: auto;
  height: auto;
  margin-bottom: 5px;
  background-color: rgb(35, 77, 116);
  cursor: pointer;
}

.cash-in {
  color: green;
}

.cash-out {
  color: red;
}

.remark,
.date,
.currency,
.balance {
  flex-basis: 20%;
}

.delete {
  flex-basis: 5%;
}

@media screen and (max-width:620px) {


  .cash-container {
    flex-direction: column;
  }


}
