.cash-in {
  background-image: linear-gradient(62deg, #d6dac0 0%, #0cce35 100%);
  height: 20px;
  text-align: center;
}

.cash-out {
  height: 20px;
  text-align: center;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #ed4f17 100%);

}
